__pycache__/
.venv/
src/obj
env/ref.py
agent/train_ref.py
.devcontainer/git.sh
agents/**/models/
agents/**/histories/
agents/**/plots/
agents/**/logs/
env/**/logs/
*.png
/result.json
/agents.*.json